# Binarios de compilación
/bin/
/tmp/
*.exe

# Variables de entorno (no subir credenciales)
.env

# Logs
*.log
build-errors.log

# Editor
.DS_Store

/papid-envasadoras-emitter/
/change_window/
/papid-envasadoras-distribuidor/