# Subject donde Node-RED publica el blob con TODAS las envasadoras.
SUBJECT_BLOB=papid.envasadoras.plc

# Servidor NATS de las envasadoras.
NATS_URL=nats://localhost:4222
NATS_USER=changeme
NATS_PASS=changeme
